<% bank_name = @branches.first.name %>
<h1><%=h content_for(:title, "#{bank_name.upcase} IFSC CODE") %></h1>
<% meta_description "#{bank_name}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<% meta_keywords "#{bank_name}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<div class="container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 style="text-align: center;color: #72BCE8;">SEARCH IFSC OF <%= @branches.first.name %> BY STATE</h2>
				<% @states.each do |state| %>
					<div class="col-md-3">
						<a href="/ifsc/<%= params[:bank_name].gsub(" ","_") %>/<%= state %>"><%= state %></a>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
		<h2 style="text-align: center;color: #72BCE8;">IFSC CODE - <%= @branches.first.name %></h2>
		<% if @branches.present? %>
			<div class="col-md-12">
				<table class="table table-striped" border="2">
					<tr>
						<th>bank</th>
						<th>IFSC</th>
						<th>MICR</th>
						<th>BRANCH</th>
						<th>ADDRESS</th>
						<th>CONTACT</th>
						<th>CITY</th>
						<th>DISTRICT</th>
						<th>STATE</th>
					</tr>
					<% @branches.each do |branch| %>
						<tr>
							<td><%= branch.name %></td>
							<td><%= branch.ifsc %></td>
							<td><%= branch.micr %></td>
							<td>
								<a href="<%= branch_url(branch.name, branch.state, branch.district, branch.branch) %>"><%= branch.branch %></a>
							</td>
							<td><%= branch.address %></td>
							<td><%= branch.contact %></td>
							<td><%= branch.city %></td>
							<td><%= branch.district %></td>
							<td><%= branch.state %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end%>
		<div class="col-md-6" style="margin-left: 30%;"><%= paginate @branches %></div>
	</div>
</div>