<% bank_name = @branches.first.name %>
<h1><%=h content_for(:title, "#{bank_name.upcase}, #{@branches.first.district}, #{@branches.first.state} IFSC CODE") %></h1>
<% meta_description "#{bank_name} #{@branches.first.district} #{@branches.first.state}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<% meta_keywords "#{bank_name} #{@branches.first.district} #{@branches.first.state}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<div class="container">
	<div class="row">
		<% if @branches.present? %>
			<div class="col-md-12">
				<table class="table table-striped" border="2">
					<tr>
						<th>bank</th>
						<th>IFSC</th>
						<th>MICR</th>
						<th>BRANCH</th>
						<th>ADDRESS</th>
						<th>STATE</th>
						<th>DISTRICT</th>
					</tr>
					<% @branches.each do |branch| %>
						<tr>
							<td><%= branch.name %></td>
							<td><%= branch.ifsc %></td>
							<td class="td_micr"><%= branch.micr %></td>
							<td><a href="<%= branch_url(branch.name, branch.state, branch.district, branch.branch) %>"><%= branch.branch %></a></td>
							<td><%= branch.address %></td>
							<td><%= branch.state %></td>
							<td><%= branch.district %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end%>
		<div class="col-md-6" style="margin-left: 30%;"><%= paginate @branches %></div>
	</div>
</div>