<% bank_name = @branch.name %>
<h1><%=h content_for(:title, "#{@branch.name.upcase}, #{@branch.city}, #{@branch.district}, #{@branch.state}, #{@branch.ifsc} IFSC CODE") %></h1>
<% meta_description "#{bank_name} #{@branch.district} #{@branch.state}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<% meta_keywords "#{bank_name} #{@branch.district} #{@branch.state}, #{bank_name} IFSC, #{bank_name} MICR, #{bank_name} BRANCH ADDRESS, #{bank_name} CONTACT, #{bank_name} NEFT, #{bank_name} RTGS" %>
<div class="container">
	<div class="row">
		<% if @branch.present? %>
			<div class="col-md-12">
				<table class="table table-striped" border="2">
					<tr>
						<th>bank</th>
						<td><%= @branch.name %></td>
					</tr>
					<tr>
						<th>IFSC</th>
						<td><b><%= @branch.ifsc %></b></td>
					</tr>
					<tr>
						<th>MICR</th>
						<td class="td_micr"><%= @branch.micr %></td>
					</tr>
					<tr>
						<th>BRANCH</th>
						<td><%= @branch.branch %></td>
					</tr>
					<tr>
						<th>ADDRESS</th>
						<td><%= @branch.address %></td>
					</tr>
					<tr>
						<th>CONTACT</th>
						<td><%= @branch.contact %></td>
					</tr>
					<tr>
						<th>CITY</th>
						<td><%= @branch.city %></td>
					</tr>
					<tr>
						<th>DISTRICT</th>
						<td><%= @branch.district %></td>
					</tr>
					<tr>
						<th>STATE</th>
						<td><%= @branch.state %></td>
					</tr>
				</table>
			</div>
		<% end%>
	</div>
</div>